<div class="max-w-md mx-auto p-6 bg-white rounded-lg shadow-lg mt-10">
    <div class="text-center">
        <h1 class="text-3xl font-bold text-gray-800 mb-6">Login Form</h1>

        <form 
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit()"
            class="space-y-4">


                <div class="flex flex-col">
                    <input type="email" id="email"
                        formControlName="email"
                        class="mt-1 p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-yellow-400 outline-none" 
                        placeholder="Enter your email">
                        @if (emailRequired && isEmailTouchedOrFormSubmit) {
                            <p>Votre mail est incorrect / requis</p>
                        }
                </div>
            
            <div class="flex flex-col">
                <input type="password" id="password"
                    formControlName="password"
                    class="mt-1 p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-yellow-400 outline-none" 
                    placeholder="Enter your password">
            </div>

            <button type="submit" 
                    class="w-full cursor:pointer bg-yellow-500 text-white px-4 py-2 rounded-md transition duration-300 hover:bg-sky-700 focus:ring-2 focus:ring-yellow-300">
                Login
            </button>
        </form>
        <div class="mt-4">
            <p class="text-gray-600">Don't have an account? <a routerLink='/singup' class="cursor:pointer text-yellow-500 hover:underline">Register</a></p>
        </div>
    </div>
</div>
