

<h1>Add Product </h1>
<form 

    [formGroup]="postForm"
    (ngSubmit)="onSubmit()"


>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 m-4">

        <!-- title -->
        <div class="flex flex-col">
            <input type="text" id="title"
                formControlName="title"
                class="mt-1 p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-yellow-400 outline-none" 
                placeholder="Enter a title">
        </div>

        <!-- price -->
        <div class="flex flex-col">
            <input type="number" id="price"
                formControlName="price"
                class="mt-1 p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-yellow-400 outline-none" 
                placeholder="Price">
        </div>
        <!-- image -->
        <div class="flex flex-col">
            <input type="text" id="title"
                formControlName="title"
                class="mt-1 p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-yellow-400 outline-none" 
                placeholder="Add an image">
        </div>
        <!-- description -->
        <div class="flex flex-col">
            <input type="text" id="description"
                formControlName="description"
                class="mt-1 p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-yellow-400 outline-none" 
                placeholder="Enter a description">
        </div>
        <!-- slug -->
        <div class="flex flex-col">
            <input type="text" id="slug"
                formControlName="slug"
                class="mt-1 p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-yellow-400 outline-none" 
                placeholder="Add a slug">
        </div>
        <!-- category -->
        <div class="flex flex-col">
            <input type="text" id="category"
                formControlName="category"
                class="mt-1 p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-yellow-400 outline-none" 
                placeholder="Category">
        </div>
    </div>
        <button type="submit" 
        class="w-full cursor:pointer bg-yellow-500 text-white px-4 py-2 rounded-md transition duration-300 hover:bg-sky-700 focus:ring-2 focus:ring-yellow-300">
            Add your product
        </button>

</form>

